
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/bin/
/.env
/.composer.lock
/migrations/
/config/
/.vscode/
###< symfony/framework-bundle ###
