{% extends 'base.html.twig' %}

{% block title %}Inscription d'un nouvel hébergeur
{% endblock %}

{% block body %}
	<h1 class="display-5">Inscription d'un nouvel hébergeur</h1>
	{{ include('partials/layout/_flash_messages.html.twig') }}
	{{ form(monFormulaire) }}{% endblock %}
