{% extends 'base.html.twig' %}

{% block title %}Inscription - Choisissez votre type d'inscription
{% endblock %}

{% block body %}
	<div class="p-5 text-center">
		<h1 class="display-h5">Choisissez votre type d'inscription</h1>

		<p class="p-5">Afin de répondre au mieux à la demande de migrants Ukrainiens dû à la situation actuelle dans ce pays, nous proposons de faire les entremetteurs entre les migrants et les hébergeurs</p>
		<a href="/locataire" class="btn btn-warning btn-lg disabled pe-auto" role="button" aria-disabled="true">Je cherche un logement temporaire en France</a>
		<a href="/hebergeur" class="btn btn-warning btn-lg disabled pe-auto" role="button" aria-disabled="true">Je propose mon logement en France</a>
		<div class="p-5">
			<figure class="text-center">
				<blockquote class="blockquote">
					<p>Une guerre entre Européens est une guerre civile.</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					Victor Hugo
					<cite title="Source Title">1785 - Livre super célèbre</cite>
				</figcaption>
			</figure>
		</div>
	</div>
{% endblock %}
