{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<div class="row ustify-content-center">
		<div class="p-0 text-center">
			<img src="https://images.pexels.com/photos/11421332/pexels-photo-11421332.jpeg" width="100%" height="auto" id="banner"/>
			<h1 class="display-5 p-5 text-center my-3">Bienvenue sur Help My Friend</h1>
			<a href="/locataire" class="btn btn-warning btn-lg disabled pe-auto" role="button" aria-disabled="true">Je cherche un logement temporaire en France</a>
			<a href="/hebergeur" class="btn btn-warning btn-lg disabled pe-auto" role="button" aria-disabled="true">Je propose mon logement en France</a>
			{{ include('partials/layout/_flash_messages.html.twig') }}
		</div>
	</div>
{% endblock %}
